<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantasy.mapper.TagMapper">

    <resultMap id="tag" type="com.fantasy.entity.Tag">
        <id property="id" column="id"/>
        <result property="name" column="tag_name"/>
        <result property="color" column="color"/>
    </resultMap>

    <select id="getTagListById" resultMap="tag">
        select t.id,t.tag_name,t.color from blog_tag bt,tag t
        where bt.tag_id = t.id and bt.blog_id = #{blogId}
    </select>

    <resultMap id="tagBlogCount" type="com.fantasy.model.vo.TagBlogCount">
        <id property="id" column="tag_id"/>
        <result property="value" column="blog_count"/>
    </resultMap>

    <!--查询每个标签的博客数量-->
    <select id="getTagBlogCount" resultMap="tagBlogCount">
        select tag_id, count(tag_id) as blog_count from blog_tag group by tag_id
    </select>
    
</mapper>
